body{
    background-image:url(https://img.freepik.com/foto-gratis/estudio-gris-vacio-liso-abstracto-bien-uso-como-fondo-informe-comercial-digital-plantilla-sitio-web-telon-fondo_1258-55967.jpg?w=360);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
}
    nav{
    max-width: 1200px;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 0px;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li > a{
display: block;
padding: 15px 20px;
color: white;
text-decoration: none;
}
.menu-horizontal > li:hover{
    background-color: red;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: black;
}
.menu-vertical li a {
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

.text{
    text-align: justify;
    padding: 7px;
    display: flex;
    padding-left: 350px;
    padding-right: 350px;
    font-size: 20px;
}

.text1{
    text-align: center;
    padding: 70px;
    font-size: 25px;
}

.text2 {
    text-align: center;
    padding: 70px;
    font-size: 25px;
    padding-top: 1px;
}
.letra1 {
    text-align: justify;
    padding: 30px;
    display: flex;
    padding-left: 350px;
    padding-right: 350px;
    font-size: 20px;
}

.foto{
    width: 140px;
    padding-top: 25px;
}

.text3 {
    text-align: center;
    padding: 70px;
    font-size: 25px;
    padding-top: 0px;
}
.letra2{
    text-align: justify;
    padding: 30px;
    display: flex;
    padding-left: 350px;
    padding-right: 350px;
    font-size: 20px;
}
.foto2{
    width: 250px;
    padding-top: 25px;
}

 .text4 {
    text-align: center;
    padding: 70px;
    font-size: 25px;
    padding-top: 1px;
 }

.letra3{
    text-align: justify;
    padding: 30px;
    display: flex;
    padding-left: 350px;
    padding-right: 350px;
    font-size: 20px; 
}

.foto3{
    width: 250px;
    padding-top: 25px;
}


